node_modules
**/node_modules
**/.next
**/dist
**/.turbo
**/.git
**/.env
**/.env.*
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.log
**/.DS_Store
**/coverage
**/.idea
**/.vscode
# Keep only needed apps, skip the other app
frontend
backend
joy-morocco-backend
